body{
  background-color: #212838 !important;
  color: white !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.form-style{
  width: auto;
  height: 550px;
  background-color: white;
  position: relative;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.form-margin{
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  width: 85%;
  height: 50vh;
}

.form-control{
  background-clip: inherit !important;
  border-radius: 1px !important;
  height: 35px !important;
}

.form-group {
    margin-bottom: 0rem;
}
