body{
  width:400px;
  height:200px;
  background-color: #212838;
}

table{
  border:none;
}

.btn-primary{
  background-color: #db2c39;
  border-color: #db2c39 !important;
}

.btn-primary:hover{
  background-color: #db2c39;
  border-color: #db2c39 !important;
}

.btn-icon{
  background-color: transparent;
  color: white;
}

.btn-icon:hover{
  color: white;
}

.popup-title{
  color: #EFEFEF;
  text-align: center;
  margin-top: 10px;
}

.form-control{
  background-clip: inherit !important;
  border-radius: 1px;
  height: 35px;
}
